[run]
parallel = True
branch = True
include =
    /home/travis/nbgrader
omit =
    /home/travis/nbgrader/tests
    /home/travis/virtualenv

[report]
include =
    /home/travis/nbgrader
omit =
    /home/travis/nbgrader/tests
    /home/travis/virtualenv