include *.md
include *.json
include *.txt

include tasks.py
include .readthedocs.yaml
include .bowerrc
include mypy.ini
include codecov.yml
include yarn.lock

include pytest.ini
include .coveragerc
include conftest.py
include playwright.config.ts

# Lab extension files
graft nbgrader/labextension
graft src
graft style
graft schema
prune **/node_modules
prune lib

# nbgrader format files
include nbgrader/nbgraderformat/*.json

# nbextension files
recursive-include nbgrader/nbextensions *

# doc files
recursive-include nbgrader/docs *
prune nbgrader/docs/build

# static files and templates
recursive-include nbgrader/server_extensions/formgrader/static *
recursive-include nbgrader/server_extensions/formgrader/templates *

# alembic files
include nbgrader/alembic.ini
recursive-include nbgrader/alembic *

# tests files
include nbgrader/tests/apps/files/*
include nbgrader/tests/preprocessors/files/*
include nbgrader/tests/nbextensions/files/*
recursive-include nbgrader/tests/labextension_ui-tests *
# global exclusion
global-exclude *.pyc
global-exclude .ipynb_checkpoints
global-exclude __pycache__
global-exclude .git
global-exclude *.pyo
global-exclude *~

# directories to prune
prune demos
prune tools
prune paper

# binder files
prune binder
