div.nbgrader-points, div.nbgrader-id {
    margin-right: 0.5em;
}

input.nbgrader-points-input {
    width: 3.5em;
    height: 22px;
    text-align: right;
    line-height: 10px;
    color: black;
}

input.nbgrader-id-input {
    height: 22px;
    text-align: left;
    color: black;
}

#nbgrader-total-points {
    width: 3em;
    height: 24px;
    text-align: right;
    line-height: 10px;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

div.nbgrader-cell div.celltoolbar {
    color: white;
    background-color: #337ab7;
    border: 1px solid #337ab7;
}

div.nbgrader-cell div.text_cell_render, div.nbgrader-cell div.input_area {
    border: 1px solid #337ab7 !important;
}