/*
FOLLOWING RULES REPLACE BOOTSTRAP RULES
*/

.nbgrader-mainarea-widget ::after, .nbgrader-mainarea-widget ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nbgrader-mainarea-widget {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--jp-ui-font-color1);
  padding-left: 3px;
  padding-right: 3px;
}

.nbgrader-mainarea-widget * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nbgrader-mainarea-widget [hidden] {
  display: none;
}

.nbgrader-mainarea-widget button, .nbgrader-mainarea-widget input, .nbgrader-mainarea-widget select, .nbgrader-mainarea-widget textarea {
  font-family: inherit;
}

.nbgrader-mainarea-widget button {
  overflow: visible;
}

.nbgrader-mainarea-widget button, .nbgrader-mainarea-widget select {
  text-transform: none;
}

.nbgrader-mainarea-widget button, .nbgrader-mainarea-widget html input[type="button"], .nbgrader-mainarea-widget input[type="reset"], .nbgrader-mainarea-widget input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.nbgrader-mainarea-widget a {
  background-color: transparent;
}

.nbgrader-mainarea-widget a {
  color: var(--jp-content-link-color);
  text-decoration: none;
}

.nbgrader-mainarea-widget [role="button"] {
  cursor: pointer;
}

.nbgrader-mainarea-widget .collapse {
  display: none;
}

.nbgrader-mainarea-widget .collapse.in {
  display: block;
}

.panel-body::after, .panel-body::before, .row::after, .row::before {
  display: table;
  content: " ";
}

.col-md-12, .col-sm-2, .col-sm-4, .col-sm-6, .col-sm-8 {
  position: relative;
  min-height: 1px;
}


@media (min-width: 768px) {
  .col-sm-2, .col-sm-4, .col-sm-6, .col-sm-8 {
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    float: left;
  }
}

@media (min-width: 768px) {
  .col-sm-2 {
    width: 16.66666667%;
  }
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 33.33333333%;
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-sm-8 {
    width: 66.66666667%;
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: var(--jp-ui-font-color1);
  background-color: var(--jp-layout-color0);
  border-color: var(--jp-layout-color2);
}

.btn-primary {
  color: var(--jp-ui-inverse-font-color0);
  background-color: var(--jp-brand-color1);
  border-color:  var(--jp-brand-color0);
}

.btn-group-xs > .btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-group-vertical > .btn, .btn-group > .btn {
  position: relative;
  float: left;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}

.btn.focus, .btn:focus, .btn:hover {
  color: var(--jp-ui-font-color1);
  text-decoration: none;
}

.nbgrader-mainarea-widget .btn-primary:hover {
  color: var(--jp-ui-inverse-font-color0);
  background-color:  var(--jp-brand-color2);
  border-color: var(--jp-brand-color1);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: var(--jp-layout-color0);
  background-clip: padding-box;
  border: 1px solid var(--jp-layout-color3);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px var(--jp-toolbar-box-shadow);
  box-shadow: 0 6px 12px var(--jp-toolbar-box-shadow);
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: var(--jp-ui-font-color1);
  white-space: nowrap;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: var(--jp-ui-font-color1);
  text-decoration: none;
  background-color: var(--jp-layout-color3);
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.btn .caret {
  margin-left: 0;
}

.panel-body::after, .row::after {
  clear: both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.pull-right {
  float: right !important;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
}

.alert-danger {
  color: var(--jp-error-color1);
  background-color: var(--jp-error-color3);
  border-color: #ebccd1;
}

.panel-group {
  margin-bottom: 20px;
}

.panel {
  margin-bottom: 20px;
  background-color: var(--jp-layout-color0);
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
  border-color: var(--jp-border-color2);
}

.panel-group .panel-heading {
  border-bottom: 0;
  border-bottom-color: currentcolor;
}

.panel-default > .panel-heading {
  color: var(--jp-ui-font-color1);
  background-color: var(--jp-layout-color2);
  border-color: var(--jp-border-color2);
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body {
  padding: 15px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}

.panel-group .panel + .panel {
  margin-top: 5px;
}