#nbgrader-course-list {
    overflow: auto;
}

#courses .alert-danger {
  /* these are copied from bootstrap, since apparantly it needs them */
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

#courses .panel-group .panel {
    margin-top: 3px;
    margin-bottom: 1em;
}

#courses .panel-group .panel .panel-heading {
    background-color: #eee;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#courses .panel-group .panel .panel-heading a:focus, a:hover {
    text-decoration: none;
}

#courses .panel-group .panel .panel-body {
    padding: 0;
}

#courses .panel-group .panel .panel-body .list_container {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

#courses .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid #ddd;
}

#courses .panel-group .panel .panel-body .list_container .list_item:last-child {
    border-bottom: 0px;
}

#courses .list_item {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#courses .list_item > div {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#courses .list_item .item_name, #courses .list_item .item_course{
    display: inline-block;
    width: 16.66666667%;
}

#courses .list_placeholder, #courses .list_loading, #courses .list_error {
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

